main {
    width: 100%;
    height: 100vb;
}

.page-one-container {
    width: 80%;
    height: 80vb;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 149px;
    margin-top: 95px;
    animation: opacity 1.2s 1 0.2s ease-in both;
}

.main-left-section h3 {
    font-family: sakkal majalla;
    font-size: 64px;
    line-height: 52px;
    margin-bottom: 40px;
}

.main-left-section p {
    text-wrap: balance;
    font-family: Montserrat;
    line-height: 16px;
    margin-top: 10px;
}

.main-right-section {
    margin-left: 242px;
}

.explore-div {
    position: relative;
}

.explore:hover {
    background-color: #146752;
    cursor: pointer;
}

.explore {
    position: absolute;
    bottom: 0;
    left: 45%;
    font-family: sakkal majalla;
    font-size: 42px;
    font-weight: bold;
    background-color: #03A67C;
    padding: 5px 15px;
    border-radius: 19px;
    color: white;
    animation: down-in 1.2s 1 0.3s ease-out both;

}

@keyframes opacity {
    0% {
        filter: opacity(0);
    }

    100% {
        filter: opacity(1);
    }
}

@keyframes down-in {
    0% {
        transform: translateY(70%);
        filter: opacity(0);

    }

    100% {
        transform: translateY(0);
        filter: opacity(1);
    }
}

/* second page starts */
.second-page {
    width: 100%;
    height: 80vh;

}

.second-page-right {
    animation: left 1s ease-in both;
   
}

.second-page-container {
    display: flex;
    align-items: center;
}

.second-page-left,
.second-page-right {
    flex: 1;
    opacity: 1;
}

.second-page-left {
    animation: opacity both 1 0.7s ease;
    animation-timeline: view(70% 40%);
}

/* .second-page:hover .second-page-left{
    animation: opacity 0.5s ease-in both;
    opacity: 1;
} */
.second-page-right {
    animation: left-in both 1 1s ease;
    animation-timeline: view(70% 50%);
}

.second-page-left p {
    color: black;
    font-family: Montserrat;
    text-wrap: balance;
    font-size: 16px;
    line-height: 39px;
    margin-left: 159px;
    font-weight: 400;
}

.read-more a {
    text-decoration: none;
    font-size: 18px;
    font-family: Montserrat;
    margin-left: 179px;
    margin-top: 50px;
    position: relative;

    /*  */
    background: linear-gradient(#DFFFF7, #DFFFF7) padding-box,
        linear-gradient(to right, #FF005E, #2F00FF) border-box;
    border-radius: 50em;
    border: 2px solid transparent;
    padding: 10px;
}

.second-page-right {
    position: relative;
}

.second-page-right h3 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 92px;
    color: #CAFFF4;
    /* background-color: #25B792;
    padding: 100px 50px;
    border-top-left-radius: 194px;
    border-bottom-left-radius: 194px;
    filter: opacity(40%); */
}

.trust {
    position: absolute;
    left: 7%;
    right: 0%;
    bottom: -212px;
    background-color: #03A67C;
    padding: 70px;
    border-top-left-radius: 180px;
    border-bottom-left-radius: 180px;
    filter: opacity(40%);
    text-align: center;

}

/* animations starts */
@keyframes left-in {
    0% {
        transform: translatex(-50%);
        filter: opacity(0);
    }

    100% {
        transform: translateX(0);
        filter: opacity(1);
    }
}

.second-page-left {
    animation: left-in 1 both;
    animation-timeline: view(80% 25%);
    transition: all 1s;
}

.second-page-right {
    animation: right-in 1 both;
    animation-timeline: view(60% 25%);
    transition: all 015s;

}

@keyframes right-in {
    0% {
        transform: translateX(50%);
        filter: opacity(0);
    }

    100% {
        transform: translateX(0);
        filter: opacity(1);
    }
}

/* animations ends  */
@media (max-width:919px) {
    .page-one-container {
        display: block;
        margin-left: 20%;
    }

    .main-left-section {
        margin-top: 500px;

    }

    .main-right-section {
        margin-left: 10%;
        margin-top: 5%;
    }

    .explore-div {
        margin-top: 250px;
        margin-left: -20%;
    }
}

/* page two resposnive */
@media(max-width:919px) {
    .second-page-container {
        display: grid;
        grid-template-rows:1fr;
        
    }

    .second-page-left {
        margin-top: 450px;
        margin-left: 0%;
        animation: opacity both 1 0.7s ease;
        animation-timeline: view();
        animation-range-end: 40vh;
        margin-bottom: 250px;
        order: 2;
    }

    .second-page-right {
       height: 50%;
        /* margin-bottom: -450px; */
        animation: right-in 1 both;
        animation-timeline: view();
        animation-range-end: 10vh;
        order: 1;
    }

}